{
    "mongodb": {
        "uri": "<DB_URL>",
        "dbname": "<DB_NAME>",
        "username": "<DB_USERNAME>",
        "password": "<DB_PASSWORD>"
    },
    "kafka": {
        "clientId": "<KAFKA_CLIENT_ID>",
        "brokers": ["<BROKER1>,<BROKER2>"]
    }
}