{
    "kafkaClientID": "<KAFKA_CLIENT_ID>",
    "kafkaBrokers": "<KAFKA_BROKERS_LIST_COMMA_SEPARATE>",
    "kafkaGroupID": "<KAFKA_GROUP_ID>",
    "mongodbName": "<MONGO_DB_NAME>",
    "mongoConnectionURL": "<MONGO_CONNECTION_URL>"
}